@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

/* custom icon font */
@font-face {
    font-family: "custom";
    src: url("fonts/custom.eot?jejqoo");
    src: url("fonts/custom.eot?jejqoo#iefix") format("embedded-opentype"),
        url("fonts/custom.ttf?jejqoo") format("truetype"),
        url("fonts/custom.woff?jejqoo") format("woff"),
        url("fonts/custom.svg?jejqoo#custom") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "custom" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bowl:before {
    content: "\e900";
}
.icon-candles:before {
    content: "\e901";
    color: #fff;
}
.icon-cart:before {
    content: "\e902";
    color: #fff;
}
.icon-cups:before {
    content: "\e903";
    color: #fff;
}
.icon-earings:before {
    content: "\e904";
    color: #fff;
}
.icon-facebook:before {
    content: "\e905";
    color: #fff;
}
.icon-gifts:before {
    content: "\e906";
    color: #fff;
}
.icon-instagram:before {
    content: "\e907";
    color: #fff;
}
.icon-kettle:before {
    content: "\e908";
    color: #fff;
}
.icon-mail:before {
    content: "\e909";
    color: #fff;
}
.icon-necklace:before {
    content: "\e90a";
    color: #fff;
}
.icon-phone:before {
    content: "\e90b";
    color: #fff;
}
.icon-search:before {
    content: "\e90c";
    color: #fff;
}
.icon-sets:before {
    content: "\e90d";
    color: #fff;
}
.icon-sugarbowl:before {
    content: "\e90e";
    color: #fff;
}
